<!DOCTYPE html>
<html>

<body>
    <h1>Welcome to ClimbCville!</h1>
    <h2>Surveys:</h2>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'climbcville:poll_details' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <h2>Routes:</h2>
    {% if routes_list %}
    <ul>
        {% for route in routes_list %}
        <li><a href="{% url 'climbcville:route_details' route.route_id %}">{{ route.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

</body>

</html>