{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'climbcville/style.css' %}">

<!DOCTYPE html>
<html>

<body>
    <div>
    <h1>Welcome to ClimbCville!</h1>
    <h2>Surveys:</h2>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'climbcville:poll_details' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <h2>Explore Routes:</h2>
    {% if routes_list %}
    <ul>
        {% for route in routes_list %}
        <li><a href="{% url 'climbcville:route_details' route.route_id %}">{{ route.route_name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}


{% block content %}
<h2><b> Explore Locations: </b></h2> 
<form action="{% url 'climbcville:location' %}" method="post">
    {% csrf_token %}
    <select name="location_choice">
        {% for location in showlocations %}
            <option value="{{location.location_id}}">{{ location.location_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="let's go!">
</form>
{% endblock %}
</div>
</body>

</html>
