<h3>Route Log Entry Form<h3>
<h4>( {{route_choice.route_name}} @ {{location_choice.location_name}} )</h4>
<h3> Grade: {{route_choice.rs_grade}} </h3>
<h3> Type: {{route_choice.r_type}} </h3>
<br>

<h2>Route Log:</h2>

<table class="table table-sm" border="1">
    <tr>
        <th>Comment</th>
        <th>Beta</th>
        <th>Grade</th>
        <th>Rating</th>
        <th>Remove</th>
    </tr>

    {% for entry in all_route_entries %}
        <tr>
            <td>{{entry.comment}}</td>
            <td>{{entry.beta}}</td>
            <td>{{entry.c_grade}}</td>
            <td>{{entry.c_rating}}</td>
            <td>
                <form method="POST">
                    {%csrf_token%}
                    <input type="hidden" value="{{entry.entry_id}}" name="delete-id">
                    <input type="Submit" value=Delete>
                </form>
            </td>
        </tr>
    {% endfor %}

</table>
<br>
<h2>New Log Entry:</h2>
<form method="post">
    {%csrf_token%}
    <table border="1">
        {{form}}
    </table>
    <br>
    <input type="submit">
</form>
<br>

<a href="{% url 'climbcville:index' %}">Home Page</a>


